.App {
  display: flex;
  /* border: 1px solid pink; */
  padding: 20px;
  margin: 20px;
}

#choose, #your {
  /* border: 2px solid green; */
  padding: 10px;
  margin: 50px;
}

#buborekok {
  /* border: 1px solid blue; */
  display: flex;
  /* flex-direction: column; */
  justify-content: center;

}

.buborek {
  /* border: 1px solid orange; */
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  /* padding: 30px; */
  
}
.buborek div {
  border: 1px solid lightgreen;
}

h2 {
  padding-bottom: 10px;
}

#image {
  /* border: 1px solid burlywood; */
}

img {
  width: 150px;
}